In [3]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [4]:
text=nltk.word_tokenize('Is it possible to distinguish cats and dogs')
# 문장 토큰화

In [5]:
print(text)
# 태깅에 필요한 자원 내려받기
nltk.download('averaged_perception_tagger')
# 품사태깅
nltk.pos_tag(text)

['Is', 'it', 'possible', 'to', 'distinguish', 'cats', 'and', 'dogs']

[nltk_data] Error loading averaged_perception_tagger: Package
[nltk_data]     'averaged_perception_tagger' not found in index

[('Is', 'VBZ'),
 ('it', 'PRP'),
 ('possible', 'JJ'),
 ('to', 'TO'),
 ('distinguish', 'VB'),
 ('cats', 'NNS'),
 ('and', 'CC'),
 ('dogs', 'NNS')]

In [7]:
# nltk 라이어블리 호출 및 문장 정의
string1='my favorite subject is statistics'
string2='my favorite subject is statistics, english, math and computer science'
# 단어 단위로 분리
nltk.word_tokenize(string1)
nltk.word_tokenize(string2)

['my',
 'favorite',
 'subject',
 'is',
 'statistics',
 ',',
 'english',
 ',',
 'math',
 'and',
 'computer',
 'science']

## **9.2 텍스트 데이터 전처리**
#### 결측치 확인

In [9]:
# 결측치를 확인할 데이터
import pandas as pd
df=pd.read_csv("C:/Users/sshyu/OneDrive/바탕 화면/Euron/chap09/data/class2.csv")
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [10]:
# 결측치 개수 확인
df.isnull().sum()

Unnamed: 0    0
id            0
tissue        0
class         0
class2        0
x             2
y             2
r             2
dtype: int64

In [11]:
# 전체 데이터 대비 결측치 비율 확인
df.isnull().sum()/len(df)

Unnamed: 0    0.000000
id            0.000000
tissue        0.000000
class         0.000000
class2        0.000000
x             0.333333
y             0.333333
r             0.333333
dtype: float64

In [12]:
# 모든 행에 결측치가 존재한다면 해당 행을 삭제하는 처리 방법
df.dropna(how='all',inplace=True) # 모든 행이 nan일 때만 삭제
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [14]:
# 데이터에 하나라도 nan이 있을 때 해당 행을 삭제
df1=df.dropna(inplace=False)
df1

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [15]:
# 결측치를 0으로 채우기
df2=df.fillna(0)
df2

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    0.0    0.0    0.0
3           3  mdb003      C  CIRC      B    0.0    0.0    0.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [16]:
# 결측치를 평균으로 채우기
df['x'].fillna(df['x'].mean(),inplace=True)
df

C:\Users\sshyu\AppData\Local\Temp\ipykernel_5952\1262216063.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['x'].fillna(df['x'].mean(),inplace=True)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I  500.0    NaN    NaN
3           3  mdb003      C  CIRC      B  500.0    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [19]:
# x의 결측치가 평균인 500으로 채워짐
# 문장 토큰화
from nltk import sent_tokenize
text_sample = 'Natural Language Processing, or NLP, is the process of extracting the meaning, or intent, behind human language. In the field of Conversational artificial intelligence (AI), NLP allows machines and applications to understand the intent of human language inputs, and then generate appropriate responses, resulting in a natural conversation flow.'
tokenized_sentences = sent_tokenize(text_sample)
print(tokenized_sentences)

['Natural Language Processing, or NLP, is the process of extracting the meaning, or intent, behind human language.', 'In the field of Conversational artificial intelligence (AI), NLP allows machines and applications to understand the intent of human language inputs, and then generate appropriate responses, resulting in a natural conversation flow.']

In [20]:
# 단어 토큰화
from nltk import word_tokenize
sentence = " This book is for deep learning learners"
words = word_tokenize(sentence)
print(words)

['This', 'book', 'is', 'for', 'deep', 'learning', 'learners']

In [21]:
# ' 가 포함된 문장 토큰화
from nltk.tokenize import WordPunctTokenizer  
sentence = "it’s nothing that you don’t already know except most people aren’t aware of how their inner world works."
words = WordPunctTokenizer().tokenize(sentence)
print(words)

['it', '’', 's', 'nothing', 'that', 'you', 'don', '’', 't', 'already', 'know', 'except', 'most', 'people', 'aren', '’', 't', 'aware', 'of', 'how', 'their', 'inner', 'world', 'works', '.']

In [23]:
!pip install konlpy

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl.metadata (1.9 kB)
Collecting JPype1>=0.7.0 (from konlpy)
  Downloading jpype1-1.5.1-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Collecting lxml>=4.1.0 (from konlpy)
  Using cached lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: numpy>=1.6 in c:\users\sshyu\appdata\local\programs\python\python312\lib\site-packages (from konlpy) (1.26.4)
Requirement already satisfied: packaging in c:\users\sshyu\appdata\local\programs\python\python312\lib\site-packages (from JPype1>=0.7.0->konlpy) (24.1)
Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
   ---------------------------------------- 0.0/19.4 MB ? eta -:--:--
   -- ------------------------------------- 1.0/19.4 MB 8.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.6/19.4 MB 7.6 MB/s eta 0:00:03
   --------- ------------------------------ 4.7/19.4 MB 8.4 MB/s eta 0:00:02
   -------------- ------------------------- 6.8/19.4 MB 8.9 MB/s eta 0:00:02
   ------------------ --------------------- 9.2/19.4 MB 9.4 MB/s eta 0:00:02
   ---------------------- ----------------- 11.0/19.4 MB 9.2 MB/s eta 0:00:01
   ------------------------- -------------- 12.6/19.4 MB 9.1 MB/s eta 0:00:01
   ----------------------------- ---------- 14.4/19.4 MB 9.0 MB/s eta 0:00:01
   --------------------------------- ------ 16.5/19.4 MB 9.0 MB/s eta 0:00:01
   ------------------------------------- -- 18.4/19.4 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 19.4/19.4 MB 8.9 MB/s eta 0:00:00
Downloading jpype1-1.5.1-cp312-cp312-win_amd64.whl (355 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   --------------------- ------------------ 2.1/3.8 MB 11.8 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 9.9 MB/s eta 0:00:00
Installing collected packages: lxml, JPype1, konlpy
Successfully installed JPype1-1.5.1 konlpy-0.6.0 lxml-5.3.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
!pip install gensim

Collecting gensim
  Downloading gensim-4.3.3-cp312-cp312-win_amd64.whl.metadata (8.2 kB)
Requirement already satisfied: numpy<2.0,>=1.18.5 in c:\users\sshyu\appdata\local\programs\python\python312\lib\site-packages (from gensim) (1.26.4)
Collecting scipy<1.14.0,>=1.7.0 (from gensim)
  Downloading scipy-1.13.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting smart-open>=1.8.1 (from gensim)
  Downloading smart_open-7.1.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: wrapt in c:\users\sshyu\appdata\local\programs\python\python312\lib\site-packages (from smart-open>=1.8.1->gensim) (1.16.0)
Downloading gensim-4.3.3-cp312-cp312-win_amd64.whl (24.0 MB)
   ---------------------------------------- 0.0/24.0 MB ? eta -:--:--
   --- ------------------------------------ 1.8/24.0 MB 9.1 MB/s eta 0:00:03
   ------ --------------------------------- 3.7/24.0 MB 9.1 MB/s eta 0:00:03
   --------- ------------------------------ 5.5/24.0 MB 8.8 MB/s eta 0:00:03
   ------------ --------------------------- 7.6/24.0 MB 9.0 MB/s eta 0:00:02
   ---------------- ----------------------- 9.7/24.0 MB 9.3 MB/s eta 0:00:02
   -------------------- ------------------- 12.1/24.0 MB 9.4 MB/s eta 0:00:02
   ----------------------- ---------------- 14.2/24.0 MB 9.6 MB/s eta 0:00:02
   --------------------------- ------------ 16.5/24.0 MB 9.7 MB/s eta 0:00:01
   ------------------------------- -------- 18.6/24.0 MB 9.7 MB/s eta 0:00:01
   ---------------------------------- ----- 20.7/24.0 MB 9.7 MB/s eta 0:00:01
   ------------------------------------- -- 22.8/24.0 MB 9.8 MB/s eta 0:00:01
   ---------------------------------------- 24.0/24.0 MB 9.6 MB/s eta 0:00:00
Downloading scipy-1.13.1-cp312-cp312-win_amd64.whl (45.9 MB)
   ---------------------------------------- 0.0/45.9 MB ? eta -:--:--
   - -------------------------------------- 2.1/45.9 MB 10.7 MB/s eta 0:00:05
   --- ------------------------------------ 4.2/45.9 MB 10.5 MB/s eta 0:00:04
   ----- ---------------------------------- 6.8/45.9 MB 10.8 MB/s eta 0:00:04
   ------ --------------------------------- 7.9/45.9 MB 9.4 MB/s eta 0:00:05
   -------- ------------------------------- 10.0/45.9 MB 9.4 MB/s eta 0:00:04
   ---------- ----------------------------- 12.1/45.9 MB 9.4 MB/s eta 0:00:04
   ------------ --------------------------- 14.4/45.9 MB 9.7 MB/s eta 0:00:04
   -------------- ------------------------- 17.0/45.9 MB 10.0 MB/s eta 0:00:03
   ---------------- ----------------------- 19.4/45.9 MB 10.1 MB/s eta 0:00:03
   ------------------ --------------------- 21.5/45.9 MB 10.1 MB/s eta 0:00:03
   --------------------- ------------------ 24.1/45.9 MB 10.3 MB/s eta 0:00:03
   ----------------------- ---------------- 26.5/45.9 MB 10.4 MB/s eta 0:00:02
   ------------------------- -------------- 28.8/45.9 MB 10.5 MB/s eta 0:00:02
   --------------------------- ------------ 31.2/45.9 MB 10.5 MB/s eta 0:00:02
   ----------------------------- ---------- 33.3/45.9 MB 10.5 MB/s eta 0:00:02
   ------------------------------- -------- 35.9/45.9 MB 10.5 MB/s eta 0:00:01
   --------------------------------- ------ 38.3/45.9 MB 10.6 MB/s eta 0:00:01
   ----------------------------------- ---- 40.9/45.9 MB 10.7 MB/s eta 0:00:01
   ------------------------------------- -- 43.3/45.9 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------  45.6/45.9 MB 10.7 MB/s eta 0:00:01
   ---------------------------------------- 45.9/45.9 MB 10.5 MB/s eta 0:00:00
Downloading smart_open-7.1.0-py3-none-any.whl (61 kB)
Installing collected packages: smart-open, scipy, gensim
  Attempting uninstall: scipy
    Found existing installation: scipy 1.14.1
    Uninstalling scipy-1.14.1:
      Successfully uninstalled scipy-1.14.1
Successfully installed gensim-4.3.3 scipy-1.13.1 smart-open-7.1.0

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\sshyu\AppData\Local\Programs\Python\Python312\Lib\site-packages\~cipy.libs'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\sshyu\AppData\Local\Programs\Python\Python312\Lib\site-packages\~cipy'.
  You can safely remove it manually.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
# 한글 토큰화 예제
import csv
from konlpy.tag import Okt
from gensim.models import word2vec

f = open(r"C:/Users/sshyu/OneDrive/바탕 화면/Euron/chap09/data/ratings_train.txt", 'r', encoding='utf-8')
rdr = csv.reader(f, delimiter='\t')
rdw = list(rdr)
f.close()

In [29]:
# 오픈 소스 한글 형태소 분석기
'''
twitter=Okt()
result=[]
for line in rdw: # 한줄식 처리
    malist=twitter.pos(line[1],norm=True,stem=True) # 형태소 분석
    r=[]
    for word in malist:
        if not word[1] in ['Josa','Eomi','Punctuation']: # 조사 어미 문장 부호는 제외시키기
            r.append(word[0])
    rl=(' '.join(r)).strip() # 형태소 사이에 공백을 넣고 양쪽 공백은 삭제시키기
    result.append(rl)
    print(rl)
'''

"\ntwitter=Okt()\nresult=[]\nfor line in rdw: # 한줄식 처리\n    malist=twitter.pos(line[1],norm=True,stem=True) # 형태소 분석\n    r=[]\n    for word in malist:\n        if not word[1] in ['Josa','Eomi','Punctuation']: # 조사 어미 문장 부호는 제외시키기\n            r.append(word[0])\n    rl=(' '.join(r)).strip() # 형태소 사이에 공백을 넣고 양쪽 공백은 삭제시키기\n    result.append(rl)\n    print(rl)\n"

In [31]:
'''
# 생성한 형태소를 별도의 파일로 저장
with open("NaverMovie.nlp",'w', encoding='utf-8') as fp:
    fp.write("\n".join(result))
# Word2Vect 모델을 생성한 후 저장
mData = word2vec.LineSentence("NaverMovie.nlp")
mModel =word2vec.Word2Vec(mData, vector_size=200, window=10, hs=1, min_count=2, sg=1)
mModel.save("NaverMovie.model")
'''

'\n# 생성한 형태소를 별도의 파일로 저장\nwith open("NaverMovie.nlp",\'w\', encoding=\'utf-8\') as fp:\n    fp.write("\n".join(result))\n# Word2Vect 모델을 생성한 후 저장\nmData = word2vec.LineSentence("NaverMovie.nlp")\nmModel =word2vec.Word2Vec(mData, vector_size=200, window=10, hs=1, min_count=2, sg=1)\nmModel.save("NaverMovie.model")\n'

In [32]:
# 불용어 제거
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
from nltk.tokenize import word_tokenize
sample_text = "One of the first things that we ask ourselves is what are the pros and cons of any task we perform."
text_tokens = word_tokenize(sample_text)

tokens_without_sw = [word for word in text_tokens if not word in stopwords.words('english')]
print("불용어 제거 미적용:", text_tokens, '\n')
print("불용어 제거 적용:",tokens_without_sw)

불용어 제거 미적용: ['One', 'of', 'the', 'first', 'things', 'that', 'we', 'ask', 'ourselves', 'is', 'what', 'are', 'the', 'pros', 'and', 'cons', 'of', 'any', 'task', 'we', 'perform', '.']

불용어 제거 적용: ['One', 'first', 'things', 'ask', 'pros', 'cons', 'task', 'perform', '.']

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sshyu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sshyu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [34]:
# 어간 추출
# 포터 알고리즘
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

print(stemmer.stem('obesses'),stemmer.stem('obssesed'))
print(stemmer.stem('standardizes'),stemmer.stem('standardization'))
print(stemmer.stem('national'), stemmer.stem('nation'))
print(stemmer.stem('absentness'), stemmer.stem('absently'))
print(stemmer.stem('tribalical'), stemmer.stem('tribalicalized'))

obess obsses
standard standard
nation nation
absent absent
tribal tribalic

In [36]:
# 랭커스터 알고리즘
from nltk.stem import LancasterStemmer
stemmer = LancasterStemmer()

print(stemmer.stem('obsesses'),stemmer.stem('obsessed'))
print(stemmer.stem('standardizes'),stemmer.stem('standardization'))
print(stemmer.stem('national'), stemmer.stem('nation'))
print(stemmer.stem('absentness'), stemmer.stem('absently'))
print(stemmer.stem('tribalical'), stemmer.stem('tribalicalized'))
# 포터 알고리즘과 달리 랭커스터 알고리즘은 단어 원형을 알아볼 수 없을 정도로 축소시키기 때문에 정확도가 낮음
# 따라서 일반적인 상황보다는 데이터셋을 축소시켜야 하는 상황에서 쓰임

obsess obsess
standard standard
nat nat
abs abs
trib trib

In [37]:
# 표제어 추출
# 일반적으로 어간 추출보다 표제어 추출이 문장 내에서 단어 의미도 고려하기 때문에
# 더 성능이 좋음
# 하지만 어간 추출보다 시간이 더 오래 걸리는 단점이 있음

from nltk.stem import WordNetLemmatizer
lemma = WordNetLemmatizer()

print(stemmer.stem('obsesses'),stemmer.stem('obsessed'))
print(lemma.lemmatize('standardizes'),lemma.lemmatize('standardization'))
print(lemma.lemmatize('national'), lemma.lemmatize('nation'))
print(lemma.lemmatize('absentness'), lemma.lemmatize('absently'))
print(lemma.lemmatize('tribalical'), lemma.lemmatize('tribalicalized'))

obsess obsess
standardizes standardization
national nation
absentness absently
tribalical tribalicalized

In [38]:
# 표제어 추출의 성능을 높이기 위해 단어에 대한 품사 정보 추가하기
print(lemma.lemmatize('obsesses', 'v'),lemma.lemmatize('obsessed','a'))
print(lemma.lemmatize('standardizes','v'),lemma.lemmatize('standardization','n'))
print(lemma.lemmatize('national','a'), lemma.lemmatize('nation','n'))
print(lemma.lemmatize('absentness','n'), lemma.lemmatize('absently','r'))
print(lemma.lemmatize('tribalical','a'), lemma.lemmatize('tribalicalized','v'))

obsess obsessed
standardize standardization
national nation
absentness absently
tribalical tribalicalized

In [39]:
# 정규화
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [40]:
# 데이터셋 경로 지정과 훈련 테스트 용도로 분리하기
df = pd.read_csv("C:/Users/sshyu/Downloads/archive/diabetes.csv")
X = df[df.columns[:-1]]
y = df['Outcome'] # 당뇨병인지 아닌지 레이블

X = X.values
y = torch.tensor(y.values)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [41]:
# 정규화 진행
# train data의 경우 standard scaler
# test data의 경우 minmax scaler
ms = MinMaxScaler()
ss = StandardScaler()

X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)
y_train =y_train.reshape(-1, 1)
y_test =y_test.reshape(-1, 1)
y_train = ms.fit_transform(y_train)
y_test = ms.fit_transform(y_test)

In [42]:
# 이 외에도 두가지 더
# 하나는 robust scaler로 평균과 분산 대신 median과 iqr를 사용
# maxabsscaler는 절댓값이 0-1 사이가 되도록 조정, 이상치에 민감하다는 단점이 있음
# 데이터 셋을 더 쉽게 다루기 위해 커스텀 데이터셋 생성하기
class customdataset(Dataset):
    def __init__(self, X, y):
        self.X = X
        self.y = y
        self.len = len(self.X)
    def __getitem__(self, index):
        return self.X[index], self.y[index]
    def __len__(self):
        return self.len

In [43]:
# 따라서 배치 단위로 쪼개서 처리하거나, 무작위로 shuffle이 가능함
# 데이터 로더에 담아서 배치 단위로 불러오게 하기
train_data = customdataset(torch.FloatTensor(X_train), 
                       torch.FloatTensor(y_train))
test_data = customdataset(torch.FloatTensor(X_test), 
                       torch.FloatTensor(y_test))

train_loader = DataLoader(dataset=train_data, batch_size=64, shuffle=True)
test_loader = DataLoader(dataset=test_data, batch_size=64, shuffle=False)

In [45]:
# 네트워크 생성하기 - 배치 정규화가 포함된 선형 계층으로
class binaryClassification(nn.Module):
    def __init__(self):
        super(binaryClassification, self).__init__()
        self.layer_1 = nn.Linear(8, 64, bias=True) # 칼럼이 8개 이므로
        self.layer_2 = nn.Linear(64, 64, bias=True)
        self.layer_out = nn.Linear(64, 1, bias=True) # 당뇨병인지 아닌지 0,1        
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(64)
        self.batchnorm2 = nn.BatchNorm1d(64)
        
    def forward(self, inputs):
        x = self.relu(self.layer_1(inputs))
        x = self.batchnorm1(x)
        x = self.relu(self.layer_2(x))
        x = self.batchnorm2(x)
        x = self.dropout(x)
        x = self.layer_out(x)        
        return x

In [46]:
# 손실함수와 옵티마이저 지정
epochs = 1000+1
print_epoch = 100
LEARNING_RATE = 1e-2

model = binaryClassification()
model.to(device)
print(model)
BCE = nn.BCEWithLogitsLoss()
optimizer = torch.optim.SGD(model.parameters(), lr=LEARNING_RATE)

binaryClassification(
  (layer_1): Linear(in_features=8, out_features=64, bias=True)
  (layer_2): Linear(in_features=64, out_features=64, bias=True)
  (layer_out): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [47]:
# 모델 성능 측정 함수 정의
def accuracy(y_pred, y_test):
    y_pred_tag = torch.round(torch.sigmoid(y_pred))
    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc * 100)    
    return acc

In [48]:
# 모델 학습시키기
for epoch in range(epochs):    
    iteration_loss = 0.
    iteration_accuracy = 0.
    
    model.train()
    for i, data in enumerate(train_loader):
        X, y = data
        y_pred = model(X.float())
        loss = BCE(y_pred, y.reshape(-1,1).float())     
      
        iteration_loss += loss
        iteration_accuracy += accuracy(y_pred, y)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    if(epoch % print_epoch == 0):
        print('Train: epoch: {0} - loss: {1:.5f}; acc: {2:.3f}'.format(epoch, iteration_loss/(i+1), iteration_accuracy/(i+1)))
    
    iteration_loss = 0.
    iteration_accuracy = 0.
    model.eval()
    for i, data in enumerate(test_loader):
        X, y = data
        y_pred = model(X.float())
        loss = BCE(y_pred, y.reshape(-1,1).float())
        iteration_loss += loss
        iteration_accuracy += accuracy(y_pred, y)
    if(epoch % print_epoch == 0):
        print('Test: epoch: {0} - loss: {1:.5f}; acc: {2:.3f}'.format(epoch, iteration_loss/(i+1), iteration_accuracy/(i+1)))

Train: epoch: 0 - loss: 0.68608; acc: 60.444
Test: epoch: 0 - loss: 0.68412; acc: 64.500
Train: epoch: 100 - loss: 0.51557; acc: 76.222
Test: epoch: 100 - loss: 0.46019; acc: 77.000
Train: epoch: 200 - loss: 0.40767; acc: 82.778
Test: epoch: 200 - loss: 0.46051; acc: 76.750
Train: epoch: 300 - loss: 0.39077; acc: 81.000
Test: epoch: 300 - loss: 0.46713; acc: 79.250
Train: epoch: 400 - loss: 0.53455; acc: 79.222
Test: epoch: 400 - loss: 0.51361; acc: 75.500
Train: epoch: 500 - loss: 0.43211; acc: 78.000
Test: epoch: 500 - loss: 0.45575; acc: 78.750
Train: epoch: 600 - loss: 0.53097; acc: 70.222
Test: epoch: 600 - loss: 0.46291; acc: 79.500
Train: epoch: 700 - loss: 0.37893; acc: 83.889
Test: epoch: 700 - loss: 0.47937; acc: 78.250
Train: epoch: 800 - loss: 0.44165; acc: 74.667
Test: epoch: 800 - loss: 0.53757; acc: 76.750
Train: epoch: 900 - loss: 0.47297; acc: 77.889
Test: epoch: 900 - loss: 0.51639; acc: 76.000
Train: epoch: 1000 - loss: 0.43519; acc: 77.111
Test: epoch: 1000 - loss: 0.50514; acc: 75.250